node_modules
dist
build
coverage

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local
!.env.example

# OS / editors
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
